<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>404 Error | carterellis.org</title>
        <link rel="icon" type="image/x-icon" href="static/images/pagelogo.svg">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <!-- fonts from google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet" />  
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond" rel="stylesheet" />

        <!-- apple metadata -->
        <meta property="og:image" content="static/images/pagelogo.svg" />
        <meta property="og:title" content="404 Error | carterellis.org" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="500" />

        <!-- importing styles -->
        <link rel="stylesheet" href="static/styles/include.css" />
        <link rel="stylesheet" href="static/styles/404.css" />

        <!-- importing scripts -->
        <script src="static/scripts/include.js" defer></script>

        <!-- importing images -->
        <link rel="preload" href="static/images/cellislogo.svg" as="image" type="image/svg+xml" />
    </head>
    <body>
        <div id="title">
            <h1>
                <span style="color: rgb(168, 25, 25);">404 Error</span>: 
                Page Not Found
                </br>
                click <a href="javascript:window.history.back();">here</a>
                to return to the previous page
            </h1>
        </div>
    </body>
</html>