<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>carter's seizure exam</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/thumbsup.png')}}">
    <link rel="stylesheet" href="static/styles/canvas.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- fonts from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet" />  
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond" rel="stylesheet">

    <!-- attempt at apple metadata -->
    <meta property="og:image" content="static/images/thumbsup.png" />
    <meta property="og:title" content="Carter Ellis' personal site!" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />

    <!-- importing scripts -->
    <script src="static/scripts/canvas.js" defer></script> 
  </head>

  <body>
    <header>        
        <a href="../" class="headeroption">
            home
        </a>
    </header>
    <canvas></canvas>

    <script src="main.js"></script>
  </body>
</html>