<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CARTERELLIS.ORG</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/thumbsup.png')}}">
    <link rel="stylesheet", href="{{url_for('static', filename='styles/style.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet" />  
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/thumbsup.png')}}">
  </head>
  <body>
    <h1>
      CARTERELLIS.ORG
    </h1>
    <img src="{{url_for('static', filename='images/thumbsup.png')}}" alt="My test image" />
    <button>
      Change user!
    </button>
    <script>

      const myImage = document.querySelector("img");

      myImage.onclick = () => {
      const mySrc = myImage.getAttribute("src");
      if (mySrc === "{{url_for('static', filename='images/thumbsup.png')}}") {
        myImage.setAttribute("src", "{{url_for('static', filename='images/socialcredit.jpg')}}");
      } else {
        myImage.setAttribute("src", "{{url_for('static', filename='images/thumbsup.png')}}");
       }
      };

      let myButton = document.querySelector("button");
      let myHeading = document.querySelector("h1");
      function setUserName() {
        const myName = prompt("Please enter your name.");
        if (!myName) {
          setUserName();
        } else {
          localStorage.setItem("name", myName);
          myHeading.textContent = `Welcome to my site, ${myName}`;
        }
      }


      if (!localStorage.getItem("name")) {
        setUserName();
      } else {
        const storedName = localStorage.getItem("name");              
        myHeading.textContent = `Welcome, ${storedName}`;
      
      }

      myButton.onclick = () => {
        setUserName();
      };

    </script>
  </body>
  <p>
    welcome to my site! here are the things you can see here:
  </p>
  <ul>
    <li>  <a href="https://cisc106.carterellis.org">CARTERELLIS.COM</a>: my CISC106 final project website  </li>
    <li>  <a href="http://carterellis.org/christmas">Christmas wish list</a> for anyone who might be generous  </li>
  </ul>
</html>
