<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Carter Ellis!</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/thumbsup.png')}}">
        <link rel="stylesheet" href="static/styles/index.css" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <!-- fonts from google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet" />  
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond" rel="stylesheet">

        <!-- attempt at apple metadata -->
        <meta property="og:image" content="static/images/thumbsup.png" />
        <meta property="og:title" content="Carter Ellis' personal site!" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="500" />

        <!-- importing scripts -->
        <script src="static/scripts/index.js" defer></script> 
    </head>
    <body>
        <header>
            <div id="HEADEROPTIONS">
                <a href="https://cisc106.carterellis.org" class="headeroption">
                    CISC106
                </a>
                <a href="oldhome" class="headeroption">
                    old homepage
                </a>
                <a href="https://modrinth.com/mod/modflared" class="headeroption" target="_blank" rel="noopener noreferrer">
                    minecraft
                </a>
                <a href="seizure" class="headeroption">
                    seizure exam
                </a>
            </div>
        </header>
        <div id="TITLE">
            <h1> carter ellis </h1>
        </div>
        <div id="BANNER">
            welcome to carterellis.org
        </div>
        <main>
            <article>
                <p>
                    this is the personal website of me, carter ellis! 
                    it's mostly empty right now, but here's what you can see:
                </p>
                <ol>
                    <li>
                        my <a href="https://cisc106.carterellis.org">final project</a> for UD's 
                        CISC106 class
                    </li>
                    <li>
                        a link to the old homepage of the site, the day i bought the domain 
                        (last week)
                    </li>
                    <li>
                        a link to Modflared, which allows players to connect to a proxied minecraft
                        server i host at minecraft.carterellis.org
                    </li>
                </ol>
                <p>
                    check back later for more
                </p>
            </article>
            <aside>
                <p>
                    aside
                </p>
            </aside>
        </main>
        <footer>
            <p>
                this site was created by carter ellis
            </p>
            <p>
                access the source code on my
                 <a href="https://github.com/carterellis81/carterellis.org" title="link to GitHub" target="_blank" rel="noopener noreferrer">
                    github 
                </a>
            </p>
            <p>
                2024
            </p>
        </footer>
    </body>
</html>