<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CARTERELLIS.ORG</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='thumbsup.png')}}">
    <link rel="stylesheet", href="{{url_for('static', filename='styles/style.css')}}" />
    <link
    href="https://fonts.googleapis.com/css2?family=Oswald"
    rel="stylesheet" />  
  </head>
  <body>
    <h1>
      CARTERELLIS.ORG
    </h1>
    <img src="{{url_for('static', filename='thumbsup.png')}}" alt="My test image" />
  </body>
  <p>
    welcome to my site! here are the things you can see here:
  </p>
  <ul>
    <li>  <a href="https://cisc106.carterellis.org">CARTERELLIS.COM</a>: my CISC106 final project website  </li>
    <li>  <a href="http://carterellis.org/christmas">Christmas wish list</a> for anyone who might be generous  </li>
  </ul>
</html>
