<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Carter Ellis!</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/thumbsup.png')}}">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <!-- fonts from google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet" />  
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond" rel="stylesheet">

        <!-- attempt at apple metadata -->
        <meta property="og:image" content="static/images/thumbsup.png" />
        <meta property="og:title" content="Carter Ellis' personal site!" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="500" />

        <!-- importing styles -->
        <link rel="stylesheet" href="static/styles/pictures.css" />
        <link rel="stylesheet" href="static/styles/include.css" />

        <!-- importing scripts -->
        <script src="static/scripts/include.js" defer></script> 
    </head>
    <body>
        <div id="title">
            <h1> Carter Ellis Photo Gallery </h1>
        </div>
        <div id="banner">
            coming soon
        </div>
        <main>
        </main>
    </body>
</html>