<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Christmas time</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='christmastree.png')}}">
    <link rel="stylesheet", href="{{url_for('static', filename='styles/wishstyle.css')}}" />
    <link
    href="https://fonts.googleapis.com/css2?family=Oswald"
    rel="stylesheet" />  
  </head>
  <body>
    <h1>
     <i><b> My wish list for Christmas!! </b></i>
    </h1>
    <img src="{{url_for('static', filename='christmastree.png')}}" alt="My test image" width="300" height="350"/>
  </body>
  <p>
    this site is empty right now, check back later for actual content
  </p>
  <ul>
    <li>item number one</li>
    <li>item number two</li>
  </ul>
  <h4><a href="https://carterellis.org">return to main page</a></h4>
</html>