<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Christmas time</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/christmastree.png')}}">
    <link rel="stylesheet", href="{{url_for('static', filename='styles/wishstyle.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet" />  
    <meta property="og:image" content="{{url_for('static', filename='images/thumbsup.png')}}" />
    <meta property="og:title" content="Carter Ellis' personal site!" />
  </head>
  <body>
    <h1>
     <i><b> My wish list for Christmas!! </b></i>
    </h1>
    <img src="{{url_for('static', filename='images/christmastree.png')}}" alt="My test image" width="200" height="250"/>
  </body>
  <p>
    below are some Christmas ideas:
  </p>
  <ul>
    <li><a href="https://www.raspberrypi.com/products/raspberry-pi-5/">Raspberry Pi</a>: a small computer that I could use for a variety of things, 
      price around fifty bucks
    </li>
    <li>Projector: I don't have a specific one, but I trust my father. perhaps something from ebay could be a good idea, based on what I can find online 
      projectors around this price aren't that good
    </li>
    <li>
      Onion: mommom already got this for me, I got a confirmation email...
    </li>
  </ul>
  <h4><a href="https://carterellis.org">return to main page</a></h4>
</html>