html {
    color: antiquewhite;
    background: #292933;
    font-family: "Oswald", sans-serif;
  }

body,
main {
    min-width: 320px;
    max-width: 100lvw;
    margin: 0px;
    padding: 0px;
}

#TITLE {    
    width: 100%;
    height: 100lvh;
    display: grid;
    align-content: center;
    text-align: center;
    text-wrap: balance;
    background: rgb(251,230,63);
    background: linear-gradient(54deg, rgba(251,230,63,0.5644258045014881) 0%, rgba(173,70,252,1) 100%); 
}

header {
    text-align: center;
    height: 2.5rem;
    width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: -2.5rem;
  }

#HEADEROPTIONS {
    display: flex;
    height: 2.5rem;
    background: #292933;
    z-index: 10; 
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: antiquewhite;
}  

.headeroption {
    flex: 3;
    height: 100%;
    display: grid;
    align-content: center;
}

.headeroption:hover {   
    background: rgb(251,163,63);
    background: linear-gradient(58deg, rgba(251,163,63,1) 0%, rgba(70,172,252,1) 100%); 
}

#BANNER {
    height: 2.5em;
    width: 100%;
    display: grid;
    align-content: center;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.75rem;
    background: #292933;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-color: antiquewhite;
}

h1 {
    font-family: "Oswald";
    font-size: 5rem;
    margin: 0px;
    padding: 0px;
}

#HEADEROPTIONS > a {
    color: inherit;
    text-decoration: none;
}

#HEADEROPTIONS > a:hover {
    text-decoration: underline;
}

main {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    border: 0px;
    background: #111114;
}

footer {
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    width: 100lvw;
    height: 100%;
    line-height: 1.2rem;
    text-align: center;
    border-top-style: solid;
    border-top-width: 3px;
    border-color: antiquewhite;
    background: #292933;
}

footer > p {
    margin: 0px;
    padding: 0px;
}

a {
    color: #8d5c99;
}

a:visited {
    color: #9c3b63;
}

article {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 3;
    min-height: 30rem;
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 0.2rem;
    border-color: antiquewhite;
    margin: 2rem 2rem 2rem 1.4rem;
    color: #acb1b5;
}

aside > p,
article > p {
    margin: 0.8rem;
    padding: 0;
}

aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 0.2rem;
    border-color: antiquewhite;
    margin: 2rem 1.4rem 2rem 0;
    margin-left: 0;
    color: darkseagreen;
    display: none;
}

@media screen and (0px <= width <= 599px) {
    html {
        font-size: 16px;
    }
    
    h1 {
        font-size: 2rem;
    }

    main {
        flex-direction: column;
    }

    aside {
        display: none;
    }

    article {
        margin: 0.75rem 0.4rem 0.75rem 0.4rem;
    }
}

@media screen and (600px <= width <= 999px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 20px;
    }

    h1 {
        font-size: 3.5rem;
    }
}
