{% extends "common/base.html" %}

<!-- setting metadata -->
{% block title %}
404 | carterellis.org
{% endblock %}

<!-- importing styles -->
{% block styles %}
<link rel="stylesheet" href="static/styles/404.css" />
{% endblock %}

{% block content %}
<div id="title">
    <h1>
        <span style="color: rgb(168, 25, 25);">404 Error</span>: 
        Page Not Found
        </br>
        click <a href="javascript:window.history.back();">here</a>
        to return to the previous page
    </h1>
</div>
{% endblock %}