{% extends "common/base.html" %}

<!-- setting metadata -->
{% block title %}
Gallery | carterellis.org
{% endblock %}

<!-- importing styles -->
{% block styles %}
<link rel="stylesheet" href="static/styles/pictures.css" />
{% endblock %}

{% block content %}

<div id="title">
    <h1> Carter Ellis Photo Gallery </h1>
</div>
<div id="banner">
    more coming soon
</div>
<main>
    <div class="imagewrapper">
        <img src="static/images/thumbsup.png" alt="a pretty Cool Guy" class="image"/>
        <p>
            image description
        </p>
    </div>
    <div class="imagewrapper">
        <img src="static/images/socialcredit.jpg" alt="a pretty Cool Guy" class="image"/>
        <p>
            image description
        </p>
    </div>
    <div class="imagewrapper">
        <img src="static/images/motorcycle.jpg" alt="a pretty Cool Guy" class="image"/>
        <p>
            image description
        </p>
    </div>
    <div class="imagewrapper">
        <img src="static/images/thumbsup.png" alt="a pretty Cool Guy" class="image"/>
        <p>
            image description
        </p>
    </div>
    <div class="imagewrapper">
        <img src="static/images/thumbsup.png" alt="a pretty Cool Guy" class="image"/>
        <p>
            image description
        </p>
    </div>
</main>

{% endblock %}